{% extends "csvimporter/base.html" %}

{% load i18n %}


{% block content_title %}<h1>Import CSV</h1>{% endblock %}


{% block content %}
    <div class="container-flexible">
        <div class="form-container">
            <fieldset class="module">
            {% for csv in csv_list %}
                <div class="row">
                    <div class="cell">
                        <a href='{% url csv_result csv.id %}'>{{ csv.filename }}</a>
                        <p class="help">{{ csv.created }}</p>
                    </div>
                </div>
            {% endfor %}
            </fieldset>
        </div>
    </div>
{% endblock %}
